<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{$x := .Name}}
    {{$y := .Last}}

    <li>{{$x}} -  {{$y}}</li>
    <h1>or we can use</h1>
    <li>{{.Name}} -  {{.Last}}</li>
</ul>
</body>
</html>