<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wisdom & Transport</title>
</head>
<body>

<ul>
    {{range .Sliceinstruct}}
    <li>{{.Name}} - {{.Last}}</li>
    {{end}}
</ul>


</body>
</html>